.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  /* justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  color:rgb(0, 0, 0);
  background: rgb(228, 19, 19);
  border-radius: 15px;
  animation: radial-pulse 1s infinite; */
  
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: rgb(228, 19, 19);
  margin: 40px 0;
  color: #e4ca37;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;

  border-radius: 15px;
  animation: radial-pulse 1s infinite; 
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 10, 161, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(255, 0, 179, 0);
  }
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
